.__xe_uni_apply_type.__xe_section .xe-form-group.xe-dynamicField .xe-label {display: block;width: 100%; background-color: transparent}
.__xe_uni_apply_type.__xe_section .xe-form-group.xe-dynamicField .xe-input-helper {width: 18px; height: 18px; top: 4px; left: 12px}
.__xe_uni_apply_type.__xe_section .xe-form-group.xe-dynamicField .xe-label-text {width: 100%; text-align: left; padding: 0 0 0 37px; font-weight: 400}
